<fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
    <legend><%=t("admin.parbudget.project.title_data_economic")%></legend>
 <div id="nested_parbudget_economic_budgets">
        <%= f.fields_for :parbudget_economic_budgets do |ff| %>
            <%= render "parbudget_economic_budget_fields", f: ff %>
        <% end %>

        <div class="js-add-fields-container">
            <div class="small-12 medium-9 column end">
                <%= link_to_add_association t("admin.parbudget.project.add_economic"),
                                        f, :parbudget_economic_budgets, class: "button hollow"  %>
            </div>
        </div>
      </div>
       
 </fieldset>