<fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
    <legend><%=t("admin.parbudget.project.title_data_media")%></legend>
  <div id="nested_parbudget_medias">
        <%= f.fields_for :parbudget_medias do |ff| %>
            <%= render "parbudget_media_fields", f: ff %>
        <% end %>

        <div class="js-add-fields-container">
            <div class="small-12 medium-9 column end">
                <%= link_to_add_association t("admin.parbudget.project.add_media"),
                                        f, :parbudget_medias, class: "button hollow"  %>
            </div>
        </div>
      </div>
       
 </fieldset>