<fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
    <legend><%=t("admin.complan.financing.title_data_credit_modification")%></legend>
    <div id="nested_complan_credit_modifications">
        <%= f.fields_for :complan_credit_modifications do |ff| %>
            <%= render "complan_credit_modification_fields", f: ff %>
        <% end %>

        <div class="js-add-fields-container">
            <div class="small-12 medium-9 column end">
                <%= link_to_add_association t("admin.complan.financing.add_credit_modification"),
                                        f, :complan_credit_modifications, class: "button hollow"  %>
            </div>
        </div>
    </div>       
 </fieldset>