<fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
    <legend><%=t("admin.complan.financing.title_data")%></legend>
 
    <div class="small-12 medium-4 column end"  >
        <%= f.text_field :start_year %>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :type_financing%>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :type_subfinancing%>
    </div>
    
 </fieldset>