<li <%= "class=is-active" if menu_profiles? %>>
    <%= link_to admin_users_path do %>
    <span class="icon-organizations"></span>
    <strong><%= t("admin.menu.title_profiles") %></strong>
    <%end%>
</li>