<% if feature?(:signature_sheets) %>
    <li class="section-title <%= "is-active" if controller_name == "signature_sheets" %>">
        <%= link_to admin_signature_sheets_path do %>
        <span class="icon-file-text-o"></span>
        <strong><%= t("admin.menu.signature_sheets") %></strong>
        <% end %>
    </li>
<% end %>