<li class="section-title" <%= "class=is-active" if controller_name == "stats" %>>
    <%= link_to admin_stats_path do %>
        <span class="icon-stats"></span><%= t("admin.menu.stats") %>
    <% end %>
</li>