<%= render partial: "admin/parbudget/tabs"%>
<%= render partial: "admin/parbudget/buttons", locals: {method: :post, remote: true, path: create_ambit_admin_parbudget_ambits_path, button_title: t("admin.menu.parbudget_tabs.new_ambits")}%>
<%= render partial: "filters"%>

<div id = "content-ambits" class="small-12 column">
  <%= render partial: "content_ambits" %>
</div>