<div class="small-12 medium-9 column">
  <ul class="dropdown menu" data-dropdown-menu>
    <% raw content_block("subnavigation_left", I18n.locale) %>
    <% main_menu_items(main_header_menu).each do |menu_item| %>
    <li>
      <%= link_to menu_item.title, menu_item_link(menu_item), title: t("shared.go_to_page") + menu_item.title, target: menu_item_target(menu_item) %>
      <% if children_menu_items(main_header_menu, menu_item.id).present? %>
        <ul class="submenu menu">
          <% children_menu_items(main_header_menu, menu_item.id).each do |child_menu_item| %>
            <li class="is-submenu-item">
              <%= link_to child_menu_item.title, menu_item_link(child_menu_item), title: t("shared.go_to_page") + child_menu_item.title, target: menu_item_target(child_menu_item) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
    <% end %>
    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>

