<%= render partial: "admin/parbudget/tabs"%>
<%= render partial: "admin/parbudget/buttons", locals: {method: :post, remote: false, path: generate_topic_admin_parbudget_topics_path(format: :html), button_title: t("admin.menu.parbudget_tabs.new_topics")}%>
<%= render partial: "filters"%>
<div id="content-topics" class="small-12 column">
  <%= render partial: "content_topics" %>
</div>