<div id="result_generic_search">
  <%= render partial: "result_generic_search" %>
</div>
<div id="orders">
  <%= render "orders" %>
</div>
<main>
    <div id="actuations" class="actuations-list">
      <div id="actuations_list" style="margin-top: 2em">
        <%= render partial: "elements_search" %>
      </div>
    </div>
</main>