<div class="custom_page-new row">

  <div class="small-12 column">
    <%= back_link_to admin_custom_pages_path %>

    <h1><%= t("admin.custom_pages.custom_page.creating") %></h1>

    <%= render 'form' %>
  </div>
</div>