<div class="<%= custom_page_module.type.underscore.dasherize %> text-center">
  <div class="small-12 medium-12 column">
    <%= image_tag(custom_page_module.custom_image.url(:content), alt: custom_page_module.custom_image_alt )%>
  </div>
</div>