<div class="<div class="<%= custom_page_module.type.underscore.dasherize %>">
  <div class="small-12 medium-12 column">
    <div class="custom-h3"><%= custom_page_module.subtitle %></div>
  </div>
</div>