<div class="<%= custom_page_module.type.underscore.dasherize %> text-center">
  <div class="small-12 medium-12 column">
    <%= render_video_resource (custom_page_module.youtube_url) %>
  </div>
</div>