<div class="<%= custom_page_module.type.underscore.dasherize %> text-center">
  <div class="small-12 medium-12 column">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/<%= youtube_id(custom_page_module.youtube_url)%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>