<%= render partial: "admin/complan/tabs"%>
<%= render partial: "admin/complan/buttons", locals: {method: :post, remote: false, path: create_project_admin_complan_projects_path(format: :html), button_title: t("admin.menu.complan_tabs.new_projects")}%>
<%= render partial: "filters"%>

<div id = "content-projects" class="small-12 column">
  <%= render partial: "content_projects" %>
</div>