#csc-container {
    font-family:'Helvetica Neue';
    
    
    
    #title {
        padding-top: 1em;
    }

    .title {
        color: #27348B;
        border: none;
        line-height: 1;
    }

    .title_sub {
        color: #27348B;
        border: none;
        line-height: 1;
        font-weight: normal;
    }

    p {
        padding-top: 0.5em;
    }

    .link {
        color: #1779ba;
    }

    .desc {
        padding-top: 2em;
    }

    .dropdown {
        display: none;
    }

    .tabul {
        margin-left: 2em;
    }

}