#csc-container {
    font-family:'Helvetica Neue';
    .row {
        max-width: 75rem;
        margin-right: auto;
        margin-left: auto;
    }
    
    #title {
        padding-top: 1em;
    }

    .title {
        color: #27348B;
        font-size: 45px;
        border: none;
        line-height: 1;
    }

    p {
        padding-top: 0.5em;
    }

    .row {
        padding-top: 4em;
    }

    .link {
        color: #1779ba;
    }

    #desc {
        padding-top: 1em;
    }

    .dropdown {
        display: none;
    }

}